<%- include('partials/header'); -%> <%- include('partials/searchbar'); -%> <% if
(success && success.length > 0 ) { %>
<div class="alert alert-success" role="alert"><%= success %></div>
<% } %>
<div class="container mt-5">
  <h1>Latest blogs</h1>
  <div class="d-flex justify-content-center">
    <button class="btn" disabled>Order by:</button>
    <button class="btn"><a href="/blog?sortby=read_count">Views</a></button>
    <button class="btn"><a href="/blog?sortby=timestamp">Latest</a></button>
    <button class="btn">
      <a href="/blog?sortby=reading_time">Reading time</a>
    </button>
  </div>
  <% if (blogs && blogs.length > 0) { %> <% blogs.forEach(function(blog) { %>
  <a class="text-decoration-none" href="/blog/<%= blog._id %>">
    <div class="card">
      <!-- Render the content of each blog here -->
      <h2><%= blog.title %></h2>
      <p><%= blog.description %></p>
      <span><%= blog.reading_time %> minute read</span>
    </div>
  </a>
  <% }); %>
  <nav aria-label="Page navigation">
    <ul class="pagination mt-4">
      <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= (i == page) ? 'active' : '' %>">
        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } else { %>
  <p>No blogs for now</p>
  <% } %>
</div>
<%- include('partials/footer'); -%>
